{{define "header"}}
<!doctype html>
<html lang="en">
<head>
  <title>Tec Share</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
    <title>Tec Share</title>
</head>
<body>
{{end}}
